#elementor-panel-categories {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

#elementor-panel-categories > #elementor-panel-category-favorites{
	-webkit-box-ordinal-group: -3;
	-ms-flex-order: -4;
	order: -4;
}

#elementor-panel-categories > #elementor-panel-category-xpro-widgets{
	-webkit-box-ordinal-group: -2;
	-ms-flex-order: -3;
	order: -3;
}

#elementor-panel-categories > #elementor-panel-category-xpro-widgets-pro{
	-webkit-box-ordinal-group: -1;
	-ms-flex-order: -2;
	order: -2;
}

#elementor-panel-categories > #elementor-panel-category-xpro-themer{
	-webkit-box-ordinal-group: 0;
	-ms-flex-order: -1;
	order: -1;
}

.elementor-control-field-description {
	margin-top: 2px;
	margin-bottom: 5px;
}

/*Image Selector Control*/

.elementor-control-image-selector-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	overflow-y: scroll;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 10px;
	margin-right: -6px;
	margin-left: -6px;
	max-height: 160px;
}

.elementor-control-image-selector-wrapper input[type="radio"] {
	position: absolute;
	opacity: 0;
	visibility: hidden;
}

.elementor-control-image-selector-wrapper .elementor-image-selector-label {
	overflow: hidden;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 calc((100% - 18px)/3);
	flex: 0 0 calc((100% - 18px)/3);
	margin: 3px;
	padding: 3px;
	border: 3px solid transparent;
	border-radius: 4px;
	opacity: .5;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.elementor-control-image-selector-wrapper .elementor-image-selector-label > img{
	height: 100%;
	width: 100%;
}

.elementor-control-image-selector-wrapper input:checked + .elementor-image-selector-label {
	border-color: #a4afb7;
	opacity: 1;
}

.xpro-widget-label:after {
	content: 'XPRO';
	position: absolute;
	top: 3px;
	right: 3px;
	color: #a7a7a7;
	font-size: 8px;
	border: 1px solid #dedede;
	font-weight: 400;
	padding: 1px 3px;
	line-height: 10px;
	display: inline-block;
	border-radius: 3px;
	-webkit-transition: color .2s ease-in-out, border-color .2s ease-in-out;
	-o-transition: color .2s ease-in-out, border-color .2s ease-in-out;
	transition: color .2s ease-in-out, border-color .2s ease-in-out;
	font-family: "Open Sans", Roboto, Helvetica, Arial, sans-serif;
}

.elementor-element:hover .xpro-widget-label:after {
	color: #d30c5c;
	border-color: #d30c5c;
}

.elementor-control .elementor-control-title{
	margin-right: 0;
}

[class*=elementor-control-section_xpro] .elementor-section-title{
	position: relative;
}

[class*=elementor-control-section_xpro] .elementor-section-title:after {
	content: 'XPRO';
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	color: #a7a7a7;
	font-size: 8px;
	border: 1px solid #dedede;
	font-weight: 400;
	padding: 1px 3px;
	line-height: 10px;
	display: inline-block;
	border-radius: 3px;
	-webkit-transition: color .2s ease-in-out, border-color .2s ease-in-out;
	-o-transition: color .2s ease-in-out, border-color .2s ease-in-out;
	transition: color .2s ease-in-out, border-color .2s ease-in-out;
	font-family: "Open Sans", Roboto, Helvetica, Arial, sans-serif;
}

[class*=elementor-control-section_xpro]:hover .elementor-section-title:after {
	color: #d30c5c;
	border-color: #d30c5c;
}

.elementor-navigator__item .xpro-widget-label:after {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 35px;
}

.elementor-navigator__item.elementor-editing .xpro-widget-label:after {
	color:#fff;
	border-color:#fff;
}

[class*=" xi-"], [class^=xi]{
	font-family: 'xpro-icons', serif !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}